<!DOCTYPE html>
<html >
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="styles/styles.css" /> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/main.js"  type="text/javascript"></script> 



<title>BusinessLandingPage</title>

</head>

<body>
	<div id="site_wrap">
		
		<div class="contact">
			<div class="page clear">
				<div>
					<span>6337 3128</span>
					<a class="mail" href="mailto:info@business.co">info@business.co</a>
					<a class="fb" href="#"></a>
				</div>
			</div>
		</div>

		<header class="page clear">
			<a href="" class="logo">
				<span>Business</span><br />
				<b>Tagline goes here</b>
			</a>
			<button>Free Consultation</button>
			<!--<span class="menu_icon"><img src="img/menu.png" alt="menu"></span>-->
			<span class="menu_icon" >
				<span class="line top"></span>
				<span class="line mid front"></span>
				<span class="line mid back"></span>
				<span class="line bottom"></span>
			</span>
			<nav class="main_navy">
				<!--<span class="menu_close">x</span> -->
				<a class="home" href="">Home</a>
				<a class="about_us" href="">About Us</a>
				<a class="our_approch" href="">Our Approch</a>
				<a class="our_work" href="">Our Work</a>
				<a class="fb_analysis" href="">Analysis Now</a>
			</nav>
		</header>
		
		<div class="banner">
			<div class="page">
				<h1>We Providing</h1>
				<p>Social Media marketing for businesses</p>
				<button>Free Consultation</button>
			</div>
		</div>
		
		<section id="about_us">
			<div class="page">
				<h2>About Us</h2>
				<h3>We are added our major Services</h3>
				<ul class="services clear">
					<li>
						<img src="img/fb_market.png">
						<h4>Facebook Marketing</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever</p>
					</li>
					<li>
						<img src="img/landing.png">
						<h4>landing pages Creation</h4>
						<p>Standard dummy text ever lorem Ipsum is simply. Dummy text of the printing and typesetting industry</p>
					</li>
					<li>
						<img src="img/ads_management.png">
						<h4>Ads management</h4>
						<p>Simply dummy text of the printing and typesetting industry.  standard dummy text ever lorem ipsum</p>
					</li>
				</ul>
				
			</div>
		</section>
		
		<section id="our_approch">
			<div class="page">
				<h2>Our Approch</h2>
				<h3>Check Our approches step by step (how we do it)</h3>
				<ul class="clear">
					<li class="img_left clear">
						<div class="step">
							<img src="img/step1.jpg" alt="">
							<span><b>1</b>step</span> 
						</div>
						<div class="description">
							<h4>Step 1 : Heading Here</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						</div>
					</li>
					
					<li class="img_right clear">
						<div class="step">
							<img src="img/step2.jpg" alt="">
							<span><b>2</b>step</span> 
						</div>
						<div class="description">
							<h4>Step 2 : Heading Here</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						</div>
					</li>
					
					<li class="img_left clear">
						<div class="step">
							<img src="img/step3.jpg" alt="">
							<span><b>3</b>step</span> 
						</div>
						<div class="description">
							<h4>Step 3 : Heading Here</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						</div>
					</li>
					
					<li class="img_right clear">
						<div class="step">
							<img src="img/step4.jpg" alt="">
							<span><b>4</b>step</span> 
						</div>
						<div class="description">
							<h4>Step 4 : Heading Here</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
						</div>
					</li>
					
				</ul>
			</div>
		</section>
		
		<section id="our_work">
			<div class="page">
				<h2>Our Work</h2>
				<h3>We are added our featured works below</h3>
			
				<ul class="clear">
					<li class="rtl clear">
						<img src="img/example1.jpg" alt="example">
						<div class='proj_name'>
							<h4>Project Name</h4>
							<p>Facebook marketing</p>
						</div>
						<div class="about_ex">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
						</div>
					</li>
					<li class="rtl clear">

						<img src="img/example2.jpg" alt="example">
						<div class='proj_name'>
							<h4>Project Name</h4>
							<p>Facebook marketing</p>
						</div>
						<div class="about_ex">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
						</div>
						
					</li >
					<li class = "revers clear">
						<img src="img/example3.jpg" alt="example">
						<div class='proj_name'>
							<h4>Project Name</h4>
							<p>Facebook marketing</p>
						</div>
						<div class="about_ex">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
						</div>
					</li>
					<li class = "revers clear">
						<img src="img/example4.jpg" alt="example">
						<div class='proj_name'>
							<h4>Project Name</h4>
							<p>Facebook marketing</p>
						</div>
						<div class="about_ex">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section id="fb_analysis">
			<div class="page">
				<h2>Get Your Free Facebook Analysis Now</h2>
				<h3>Enter your details below</h3>
				<button class="open"><img src="img/down.png" alt="open form"></button>
				<div class="form_wrap">
					<form name="request_form" type="POST">
						<span class="close"></span>
						<p>Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more</p>
						<input type="text" name="user_name" value="Your Name" />
						<input type="text" name="phone_number" value="Contact Number" />
						<input type="text" name="company" value="Company Name" /><br/>
						<button>Submit Now</button>
						
					</form>
				</div>	
			</div>
		</section>
		
		<section id="social">
			<div class="page">
				<h4>Get in touch</h4>
				<ul>
					<li><a href="" class="facebook"></a></li>
					<li><a href="" class="twit"></a></li>
					<li><a href="" class="google"></a></li>
					<li><a href="" class="inst"></a></li>
				</ul>
				<p>Subscribe to our newsletter to stay update with what is new</p>
				<form name="subscription" class="subscription" >
					<input type="text" name="mail" value="Mail Address" />
					<button>Subscribe</button>
				</form>
			</div>
		</section>	
		<footer>
			<p>Cssauthor.com © 2014 All Rights Reserved</p>
		</footer>
	</div>	

</body>

</html>

